/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .containera {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #ffcc80, #ffe0b2);
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
  }
  
  .content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    /* background: white; */
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }
  
  .bestttt {
    text-align: center;
    font-size: 3.2rem;
    color: #007bff;
    margin-top: -230px;
    font-weight: 600;
    margin-bottom: -20px;
  }
  
  /* Loading and Error Screens */
  .loading-screen,
  .error-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5rem;
    color: #666;
  }
  
  /* Table Styles */
  .payment-table {
    width: 170%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .payment-table th,
  .payment-table td {
    border: 1px solid black;
    padding: 10px;
   line-height: 40px;
    /* gap:40px; */
    text-align: center;
  }
  
  .payment-table th {
    background-color: #007bff;
    color: white;
  }
  
  .even-row {
    background-color: #f9f9f9;
  }
  
  .odd-row {
    background-color: white;
  }
  
  .odd-row:hover,
  .even-row:hover {
    background-color: #f1f1f1;
  }
  
